

    body {
       padding:0;
       margin:0;
       background:#f1f1f2; 
        
      
  
    }

:root {
--cucu :orange;
--cos:red;
--tan:gold;
--con:rgb(0,0,0,0.2);
}

.tubody   {
position: relative;
width: 100%;
height: 87vh;
background:crimson;
overflow: hidden;


}

    .contenlo{
        position: relative;
        
        width: 100vw;
        height: 55vh;
        
        
        background:; 


}



 .contenedor-uno , .contenedorbur  {
        position: absolute;
        width: 100%;
        height: 100%;
        background:var(--cos); 
         
        display: flex;
        justify-content: center;
        align-items: center;


}


.contenedorbur {

  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);

}



    .contenedor-dos{
        position: absolute;
        width: 100%;
        height: 100%;
        filter: contrast(20); 
        
       

}

 .contenedormu{
        position: absolute;
        width: 100%;
        height: 100%;
       
        
       

}



    .contenedor-dos:before{
      content: "";
        position:absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        background:rgb(0,0,250,0.2);
          


}


 .pompa1{

position: absolute;
width: 100%;
height: 100%;
background:var(--cucu);
filter: blur(12px);
display: flex;
justify-content: center;
align-items: center;  

}


 .pompa12{

position: absolute;
width: 100%;
height: 100%;
background:var(--cucu);
filter: blur(12px);
display: flex;
justify-content: center;
align-items: center;  

}



 .pompatu{

position: absolute;
width: 80%;
left:20%;
height: 100%;
background:url("imagenes/rojo3.png"); 




}

 .pompa2{

position: absolute;
width: 5vw;
height: 5vw;
background: #E63844;
filter: blur(12px);
top:35%; 
border-radius: 20vw;
animation: mover 5s infinite ;
}

@keyframes mover {

  0% {left:10%;}
  100% {left:70%;}
 
}


.conte {
position: absolute;
width: 100%;
height: 96%;
background:url("imagenes/pizza5.png"); 
background-size:cover; 
 
}


.conte:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
 background:var(--con); 


}




.menu {
position: sticky;
top:0%;
width: 100%;
height: 5.85vw;

background:var(--tan);
opacity: ; 
display: flex;justify-content: center;
align-items: center;
border-bottom: 0vw solid #F58000;
z-index: 20000;
}


.consu {
position: relative;
width: 100%;
height: 1vw;

background:white; 
z-index: 1000;

}

.tab  {
  position: relative;
margin-left:3.5vw;
font-size: 3.5vw;
font-family: Gabriola;
color:white;
text-shadow: 0px 0px 10px gold;

}


.tabi  {
  position: relative;
  display: block;
left:0vw;
font-size: 4vw;
font-family: Gabriola;
color:black;
padding:0%; 
margin:0%;
text-shadow: 0px 0px 7px gold;
}

.stefa  {
position: relative;
color:white;

}

.rubi {
position: relative;
width: 100%;
height: 32.5vh;
display:flex;
justify-content: flex-end;
}


    .tesoro{
        position: relative;
        
        width:35vw;
        height: 100%;
        background:var(--cos); 


}


    .tesorodos{
        position: absolute;
        width: 100%;
        height: 100%;
        filter: contrast(20); 


}



    .tesorodos:before{
      content: "";
        position:absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        background:rgb(0,0,250,0.2);  


}


 .buruno{

position: absolute;
width: 100%;
height: 100%;
background: var(--cucu);
filter: blur(12px);

}



    .caja{
        position: relative;
        width: 35%;
        height:100%;
        background:var(--cos); 


}


    .cajados{
        position: relative;
        width: 100%;
        height: 100%;
        filter: contrast(20); 


}



    .cajados:before{
      content: "";
        position:absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        background:rgb(0,0,250,0.2);  


}


 .burdos{

position: absolute;
width: 100%;
height: 100%;
background:var(--cucu);
filter: blur(12px);
 

}





    .linea{
        position: relative;
        width: 30%;
        height: 100%;
        background:var(--cos); 


}


    .lineados{
        position: relative;
        width: 100%;
        height: 100%;
        


}



    .lineados:before{
      content: "";
        position:absolute;
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        background:rgb(0,0,250,0.3);  


}


 .liquido{

position: absolute;
width: 100%;
height: 100%;
background:url("imagenes/pizza6.png");
display: flex;
justify-content: center;
align-items: center;
 

}

.liquido:after{
      content: "Ofertas";
        position:absolute;
     display: flex;
      justify-content: center;
      align-items: center;
        
        width: 100%;
        height: 100%;
        font-family: Gabriola;
               font-size: 7vw;
          background:rgb(0,0,0,0.6);
          text-shadow: 0px 0px 7px gold;
        color:white;
z-index: 3000;


}
.contetodo {
position: absolute;
top:0%;
width: 99%;
height: 96%;
background:url("imagenes/pizza8.png"); 
background-size:cover; 


}

.contetodo:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: var(--con); 


}





.contetodos {
position: absolute;
top:0%;
width: 99%;
height: 96%;
background:url("imagenes/pizza3.png"); 
background-size:cover; 


}

.contetodos:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
 background: var(--con);


}






.pizza {
  position: relative;
width: 100%;
height: 100% ;
background: ;
z-index: 2000;
font-family:  Segoe UI Symbol;
color:white;
left:0%;
bottom:0px;
overflow: hidden;
}


.pizza .la {
  position: absolute;
left:2vw;
top: 3vh;
margin:0%; 
font-size: 3vw;
padding: 0vw 1.5vw 0vw 1.5vw;
background:gold;
box-shadow: 0px 0px 0px 3px white;
border-radius:50vw;
text-shadow: 0px 0px 0px gold;
}

.eat   {
  position: absolute;
  
z-index: 4000;
width: 100%;
background:linear-gradient(120deg,white,rgb(255,255,255,0.5),white);
height: 20%;
bottom: 0%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 5px 2px gold;


}


.eat i  {

padding: 1vw;
margin:2vw;
margin-left:3vw;
font-size: 2vw;
color:white;
background:gold; 
box-shadow: 0px 0px 0px 2.5px white;
border-radius:50%; 
text-shadow: 0px 0px 0px white;
}

.clase {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-family: Gabriola;
font-size:12vw;
color:white;


}

.clase p {
text-shadow: 0px 0px 5px gold ;



}


.clasi {
position: relative;
display: flex;
justify-content: center;
align-items: center ;
width: 100%;
height:75%;
top:40%;
background:white; 

}  



.redo {

position: relative;
display: flex;
justify-content: center;
align-items: center; 
padding: 2vw;
background:gold; 
border-radius: 50%;
border:3px solid white ;
box-shadow: 0px 0px 10px 3px orange inset ;
margin-left:6vw;
margin-right: 5.5vw;
}

.clasi .redo i {

font-size: 4vw;
color:white;
background:; 
animation: mover 7s infinite;
text-shadow: 0px 0px 3px orange;



}




.redo i:hover {
text-shadow: 0px 0px 3px white;


}

@keyframes mover {

 0%   {transform:rotateY(-20deg); }
10%   {transform:rotateY(-20deg); }
 

 40% {transform: rotateY(0deg);
}


50% {transform: rotateY(-25deg);
}


60% {transform: rotateY(25deg);
}


70% {transform: rotateY(-25deg);
}


80% {transform: rotate(-10deg);
}

90% {transform: rotate(10deg);
}


100% {transform: rotate(0deg);
}

}
  
.clasi p{
  position:absolute;
  top:-24%;
  display: block;
color:white;
font-size: 5vw;
font-family:Gabriola;
text-shadow:0px 0px 0px orange;  
background:linear-gradient(gold,orange);
border-radius: 20vw;
padding: 0vw 2vw 0vw 2vw;
border:10px solid white ;
 



}
  



.clasi .redo p {
  position: absolute;
  width: 200%;
color:gold;
font-size: 2.5vw;
top:0%;
margin:10vw;
display: flex;
justify-content: center;
align-items: center; 
 background:none; 
border-radius: 20vw;
border:0px solid white ;
animation: none;

}



.popular {

position: relative;
width: 100%;
height: 50%;
background: url("imagenes/pizza17.png"); 
background-size: cover;
top:65%;
box-shadow: 0px 0px 6px 3px black;

}

.popular:before {
  content: "";
position: absolute;
top:0%;
left:0%;
width: 100%;
height: 100%;
background:rgb(0,0,0,0.4); 


}


.leon   {
  position: relative;
  top:20%;
max-width: 100vw;
height: auto;
margin:auto; 
overflow: hidden; 




}



.leon p   {
position: relative;
left:23%;
width: 50vw;
font-size: 5vw;
font-family: Gabriola;
color:white;
padding-left:1.5vw;
padding-right:1.5vw; 
background:linear-gradient(gold,orange);
border-radius: 20vw;
}


.item1 , .item2 , .item3 , .item4 , .item5 , .item6 , .item7 , .item8 , .item9 , .item10 {
  position: relative;  
color:white;
width: 12vw;
height: 12vw;
margin-top:3%; 
margin-left: 6.2vw; 
margin-right: 0%;
margin-bottom: 5%;
display: block;
float: left;
border-radius: 50%;
border: 4px solid white ;
box-shadow: 1px 1px 7px 5px grey;
} 



.item1  {background: url("imagenes/pizza3.png");background-size:cover; }
.item2  {background: url("imagenes/pizza4.png");background-size:cover; }
.item3  {background: url("imagenes/pizza11.png");background-size:cover; }
.item4  {background: url("imagenes/pizza12.png");background-size:cover; }
.item5  {background: url("imagenes/pizza5.png");background-size:cover; }
.item6  {background: url("imagenes/ham1.png");background-size:cover; }
.item7  {background: url("imagenes/ham2.png");background-size:cover; }
.item8  {background: url("imagenes/ham3.png");background-size:cover; }
.item9  {background: url("imagenes/pizza17.png");background-size:cover; }
.item10  {background: url("imagenes/pizza6.png");background-size:cover; }



